@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
}

/* header {
    
} */
.header_up {
    height: 35px;
    margin: 0 auto;
    font-size: 13px;
    color: #FFF;
    background-color: #015FA9 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_up a {
    background-color: #FFF;
    color: #333;
    width: 120px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}
.header_up a .icon {
    width: 11px;
    height: 11px;
    object-fit: contain;
}
.header_up a .check {
    width: 11px;
    height: 11px;
    object-fit: contain;
}
.header_up .nav {
    display: flex;
}
.header_up .nav ul {
    display: flex;
}
.header_up .nav ul li {
    margin-right: 10px;
    line-height: 35px;
}
.header_up .nav ul li:last-child {
    margin-right: 50px;
}
.header_up .language {
    display: flex;
    align-items: center;
}
.header_up .language p {
    width: 100px;
    height: 35px;
    background-color: #FFF;
    color: #333;
    text-align: center;
    line-height: 35px;
}
.header_up .language p img {
    width: 11px;
    height: 11px;
    object-fit: contain;
}

.header_down {
    width: 1280px;
    height: 90px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    line-height: 90px;
}
.header_down a img {
    height: 90px;
    object-fit: contain;
}

.section01 {
    border-top: 3px solid #015FA9;
    position: relative;
}
.section01 img {
    width: 100%;
}
.section01 figure .a {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, 0);
}
.section01 figure .b {
    width: 50px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, 0);
}
.section01 figure .c {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(0, -50%);
}

.section02 {
    background-color: #f3f3f3;
    padding-bottom: 90px;
}
.section02 .menu {
    color: #FFF;
    width: 1000px;
    margin: 0 auto;
    padding: 90px 0 0;
}
.section02 .menu .up {
    margin-bottom: 5px;
}
.section02 .menu .up a {
    font-size: 15px;
    background-color: #60656c;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.section02 .menu .up .b {
    background-color: #015FA9;
}
.section02 .menu .up .c {
    width: 110px;
}
.section02 .menu .down {
    margin-bottom: 5px;
}
.section02 .menu .down a {
    font-size: 15px;
    background-color: #60656c;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.section02 .menu .down .b {
    background-color: #015FA9;
}

.section02 .wrap {
    background-color: #FFF;
    height: 150 px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
}
.section02 .wrap ul {
    display: flex;
    justify-content: space-between;
    padding: 29px 45px;
}
.section02 .wrap ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    width: 272px;
    height: 28px;
    font-size: 20px;
    align-items: center;
}
.section02 .wrap ul li img {
    width: 22px;
    height: 12px;
}
.section02 .wrap ul .day {
    width: 328px;
}
.section02 .wrap ul .day img {
    width: 18px;
    height: 17px;
}
.section02 .wrap ul .day .left {
    display: flex;
}
.section02 .wrap .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}
.section02 .wrap .down li {
    margin-right: 20px;
}
.section02 .wrap .down li img {
    width: 10px;
    height: 15px;
}
.section02 .wrap .down li .child {
    width: 8px;
    height: 12px;
}
.section02 .wrap .down li div img {
    width: 7px;
    height: 5px;
    display: block;
    margin: 4px;
}
.section02 .wrap .down a {
    width: 205px;
    height: 50px;
    background-color: #1E409A;
    color: #FFF;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    margin-left: 100px;
}


.section03 {
    padding: 90px 0;
}
.section03 h3 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
}
.section03 img {
    margin: 0 auto;
    display: block;
}
.section03 ul {
    display: flex;
    justify-content: space-around;
    width: 1001px;
    margin: 20px auto 0;
    font-size: 18px;
}
.section03 ul li:first-child {
    margin-left: 10px;
}
.section03 ul li:nth-child(2) {
    margin-left: 40px;
}
.section03 ul li:nth-child(3) {
    margin-left: 20px;
}
.section03 ul li:nth-child(4) {
    margin-left: 10px;
}


.section04 {
    padding: 90px 0;
    background-color: #f3f3f3;
    position: relative;
}
.section04 h1 {
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.section04 p {
    text-align: center;
    margin-bottom: 40px;
}
.section04 a {
    display: block;
    width: 120px;
    height: 50px;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 20%;
    right: 314px;
}
.section04 .item {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section04 .item .wrap {
    width: 306px;
    height: 383px;
    text-align: center;
    background-color: #FFF;
}
.section04 .item .wrap .list img {
    width: 306px;
    height: 195px;
    margin-bottom: 30px;
}
.section04 .item .wrap .list p {
    width: 90px;
    height: 27px;
    background-color: #ddd;
    text-align: center;
    line-height: 27px;
    margin: 0 auto;
    border-radius: 13.5px;
    font-size: 13px;
    margin-bottom: 25px;
}
.section04 .item .wrap .list ul {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.section04 .item .wrap .list ul li:first-child {
    margin-right: 20px;
}
.section04 .item .wrap .list ul img {
    width: 40px;
    height: 11px;
    margin-right: 20px;
}
.section04 .item .wrap .list .price p1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
}
.section04 .item .wrap .list .price p2 {
    font-family: "Antic Slab", serif;
    font-size: 30px;
    font-weight: bold;
}


.section05 {
    padding: 90px 0;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.section05 h1 {
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.section05 p {
    text-align: center;
    margin-bottom: 40px;
}
.section05 a {
    display: block;
    width: 120px;
    height: 50px;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 20%;
    right: 0;
}
.section05 .item {
    display: flex;
    justify-content: space-between;
}


.section06 {
    padding: 90px 0;
    background-color: #f3f3f3;
}
.section06 .wrap {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.section06 .wrap .menu {
    background-image: url(../자료/background.jpg);
    width: 434px;
    height: 566px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section06 .wrap .menu h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section06 .wrap .menu a {
    font-size: 32px;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.section06 .wrap .line {
    display: flex;
    justify-content: right;
}
.section06 .wrap .line .list {
    width: 306px;
    height: 566px;
    margin-left: 30px;
}
.section06 .wrap .line .list img {
    width: 306px;
    height: 530px;
    object-fit: cover;
}



.section07 {
    padding: 90px 0;
}
.section07 .menu {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section07 .menu img {
    width: 630px;
    height: 293px;
}


.section08 {
    background-color: #f3f3f3;
    padding: 90px 0;
}
.section08 .wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section08 .wrap .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section08 .wrap .left h1 {
    font-size: 32px;
}
.section08 .wrap .left p {
    font-size: 18px;
}
.section08 .wrap .left a {
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}

.section08 .wrap .right {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
}
.section08 .wrap .right .list {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #60656c;
    border-bottom-style:  dashed;
}
.section08 .wrap .right .list .gongji {
    display: flex;
    justify-content: left;
    gap: 10px;
}
.section08 .wrap .right .list h3 {
    display: block;
    width: 52px;
    height: 24px;
    border: 1px solid #ff0000;
    color: #ff0000;
    text-align: center;
    line-height: 24px;
}

.section08 .wrap .right .list p {
    display: inline-block;
    line-height: 24px;
}
.section08 .wrap .right .list span {
    display: inline-block;
    line-height: 24px;
}





.footer {
    width: 1280px;
    margin: 0 auto;
    padding: 30px 0;
}
.footer .first {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    border-bottom-style: dashed;
}
.footer .first h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
.footer .first p {
    font-size: 27px;
    color: #0072bc;
    margin-bottom: 5px;
}
.footer .first span {
    font-size: 13px;
}
.footer .first .item2 .title {
    display: flex;
    justify-content: left;
    
}
.footer .first .item2 .title h4:nth-child(2) {
    font-size: 11px;
    margin-top: auto;
}
.footer .first .item4 h4 {
    font-size: 13px;
    margin-bottom: 5px;
}
.footer .first .item4 p {
    font-size: 13px;
    color: #333;
    line-height: 15px;
}

.footer .second {
    margin: 20px auto;
    font-size: 13px;
}
.footer .second .up {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}
.footer .second .up a:nth-child(n+2) {
    margin-left: 18px;
}
.footer .second .up a:nth-child(8) {
    font-weight: bold;
}
.footer .second .down {
    display: flex;
    justify-content: left;
}
.footer .second .down a:nth-child(n+2) {
    margin-left: 18px;
}